<!--The content below is only a placeholder and can be replaced.-->
<div id="home" class="container-fluid">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="../assets/fpace_k17.jpg" class="img-fluid">
        <div class="footer border">
            <h2 class="p-4"><span class="border-top border-bottom border-dark p-1">VEHICLE NAME</span></h2>
          <p>From £76,000</p>
          <p>The pinnacle of refined capability</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="../assets/fpace_k17.jpg" class="img-fluid">
        <div class="footer border">
            <h2 class="p-4"><span class="border-top border-bottom border-dark p-1">VEHICLE NAME</span></h2>
          <p>From £76,000</p>
          <p>The pinnacle of refined capability</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="../assets/fpace_k17.jpg" class="img-fluid">
        <div class="footer border">
            <h2 class="p-4"><span class="border-top border-bottom border-dark p-1">VEHICLE NAME</span></h2>
          <p>From £76,000</p>
          <p>The pinnacle of refined capability</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="../assets/fpace_k17.jpg" class="img-fluid">
        <div class="footer border">
            <h2 class="p-4"><span class="border-top border-bottom border-dark p-1">VEHICLE NAME</span></h2>
          <p>From £76,000</p>
          <p>The pinnacle of refined capability</p>
        </div>
      </div>
    </div>
    
  
  <router-outlet></router-outlet>
</div>
